<div class= 'home'>
  <% if current_user %>
    <% if current_user.display_name.present? %>
      <h1> <%= current_user.display_name %> </h1>
    <% else %>
      <h1> <%= current_user.email.split('@')[0] %></h1>
    <% end %>
  <% end %>
  <% if current_user&.admin? %>
    <h2> User is an admin </h2>
    <%= render partial: "names", locals: {restaurant: @restaurants, current_user: current_user} %>
  <% elsif current_user %>
    <%= render partial: "names", locals: {restaurant: @restaurants, current_user: current_user} %>
  <% else %>
    <%= render partial: "names", locals: {restaurant: @restaurants, current_user: current_user} %>
  <% end %>
</div>